<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.university_project_platform_backend.mapper.UserMapper">

    <select id="getMentorByName" resultType="java.lang.String">
        select mentor_Name from user,mentor where user.user_name = mentor_name and user_name = #{userName}
    </select>
    <select id="getStudentByName" resultType="java.lang.String">
        select student_Name from user,student where user.user_name = student_name and user_name = #{userName}
    </select>

</mapper>
